body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 175%;
}

h1 {
  font-size: 1.6em;
  font-weight: normal;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin-left: 2em;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
  margin-left: 4em;
}

h4 {
  font-size: 1.0em;
  font-weight: normal;
  margin-left: 6em;
}

p,
ul,
dl,
pre {
  margin-left: 6em;
  margin-right: 6em;
}