body {
  font-family: "Noto Sans", sans-serif;
  line-height: 175%;
}

h1 {
  font-weight: normal;
  font-size: 1.75em;
}

h2 {
  font-weight: normal;
  font-size: 1.25em;
  margin-left: 2em;
}

h3 {
  font-weight: normal;
  font-size: 1.25em;
  margin-left: 4em;
}

h4 {
  font-weight: normal;
  font-size: 1.25em;
  margin-left: 6em;
}

p,
ul,
dl,
pre {
  margin-left: 6em;
  margin-right: 6em;
}

dd {
  margin-bottom: 0.5em;
}

hr {
  border: none;
  height: 1px;
  background-color: #AAA;
}

p.subtitle {
  margin-left: 0em;
  color: #AAA;
}